.search-toggle {
  padding-bottom:1em;
  /* hover toggle search form */
  @media #{$xl} {
    padding-bottom:0;
    position: relative;
    .search-submit {
      color:$base-font-color;
      font-weight:bold;
    }
    input {
      display: none;
      position: absolute;
      width: 670px !important;
      right: 100%;
      top: 50%;
      min-height:$input-height;
      //margin-right:$small-spacing;
      transform: translateY(-50%);
      //border-top:$base-spacing * 1.25 solid transparent;
    //  border-bottom:$base-spacing * 1.25 solid transparent;
    }

    &:hover {
      input {
        z-index:999;
      }
      &:before {
        content:'';
        position:absolute;
        top:0;
        bottom:0;
        right:100%;
        width:670px;
        background:#fff;
        z-index:1;
      }
    }

    &:hover input,
    input:focus,
    &:hover:before,
    &:focus:before {
      //content:''
      display: block;
    }
  }
}

.force-bg {
  &:before {
    content:'';
    display:block !important;
    position:absolute;
    top:0;
    bottom:0;
    right:100%;
    width:670px;
    background:#fff;
    z-index:1;
  }
}

.opaque {
  @media #{$xl} {
    opacity:0;
  }
  opacity:1;
}
